<% spaces.each do |space| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading preview">
        <%= link_to image_tag(space.cover_photo(:medium)) %>
        <div class="price-box-wrapper pull-right">$<%= space.price %></div>
      </div>
      
      <div class="panel-body">
        <div class="container">
          <span class="col-md-12" style="padding-left: 0px; padding-right: 0px;"><%= link_to space.listing_name, space %></span></br>
          <span class="col-md-12" style="padding-left: 0px; padding-right: 0px;"><span id="star_<%= space.id %>"></span>&nbsp;<%= pluralize(space.guest_reviews.count, "review") %>
          <!--<span class="price-box-wrapper pull-right"><b>$<= space.price %></b></span>-->
        </div>
      </div>
    </div>
  </div>
  
  
  <script>
    $('#star_<%= space.id %>').raty({
      path: '/assets',
      readOnly: true,
      score: <%= space.average_rating %>
    });
  </script>
<% end %>