<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'space_menu' %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
    
          <div class="panel-heading">
            Amenities
          </div>
    
          <div class="panel-body">
            <div class="container">
              <%= form_for @space do |f| %>
    
                  <div class="form-group">
                    <div class="col-md-4">
                      <%= f.check_box :is_heated_space %> Heated Space
                    </div>
                  </div>
    
                  <div class="form-group">
                    <div class="col-md-4">
                      <%= f.check_box :is_unheated_space %> Unheated Space
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-md-4">
                      <%= f.check_box :is_elevator %> Elevator
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-md-4">
                      <%= f.check_box :is_stairs %> Stairs
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-md-4">
                      <%= f.check_box :is_parking_attendant %> Parking Attendant
                    </div>
                  </div>
                  
                  <br/><br/>
    
                  <div class="row text-center">
                    <%= f.submit "Save", class: "btn btn-form" %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>