<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'space_menu' %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
    
          <div class="panel-heading">
            Listing
          </div>
    
          <div class="panel-body">
            <div class="container">
              <%= form_for @space do |f| %>
    
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Space Type</label>
                    <%= f.select :space_type, [["Covered", "Covered"], ["Uncovered", "Uncovered"]],
                                  id: "space_type", prompt: "Select...", class: "form-control" %>
                 	</div>
              	</div>
    
                <div class="col-md-4 select">
    		          <div class="form-group">
    		            <label>Accessible</label>
    		            <%= f.select :handi_accessible, [["Accessible", "Accessible"], ["Not Accessible", "Not Accessible"]], 
    		               id: "handi_accessible", prompt: "Select...", class: "form-control" %>
    	            </div>
    		        </div>
    
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Electric Space</label>
                    <%= f.select :electric_space, [["Charging Port", "Charging Port"], ["No Charge  Port", "No Charge Port"]],
                                  id: "electric_space", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>24/7 Surveillance</label>
                    <%= f.select :surveillance, [["Video Surveillance", "Video Surveillance"], ["No Surveillance", "No Surveillance"]],
                                  id: "surveillance", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
    
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Booking Type</label>
                    <%= f.select :instant, Space.instants.map {|key,value| [key.humanize, key]}, selected: 'Instant', prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
    
                <div class="col-md-12"><%= f.submit "Save", class: "btn btn-normal" %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>