<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            Create Your Listing
          </div>
          <div class="panel-body">
            <div class="container">
    
              <%= form_for @space do |f| %>
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Space Type</label>
                    <%= f.select :space_type, [["Covered", "Covered"], ["Uncovered", "Uncovered"]],
                      id: "space_type", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                  
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Surveillance</label>
                    <%= f.select :is_surveillance, [["Yes", "Yes"], ["No", "No"]], 
                       id: "is_surveillance", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                         
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Electric Space</label>
                    <%= f.select :is_electric_space, [["Yes", "Yes"], ["No", "No"]], id: "restrooms", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Accessible</label>
                    <%= f.select :is_handi_accessible, [["Yes", "Yes"], ["No", "No"]],
                      id: "is_handi_accessible", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Booking Type</label>
                    <%= f.select :instant, Space.instants.map {|key,value| [key.humanize, key]}, selected: 'Instant', prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
            
                <div class="col-md-12 text-center">
                  <div><%= f.submit "Save", class: "btn btn-normal" %> 
                </div>
    
              <% end %>
            </div>
          </div>
        </div>
      </div>  
    </div>
    
    <div class="col-md-3">
      <div class="panel-default">
        <div class="container">
          <a href="https://track.fiverr.com/visit/?bta=7074&nci=5479&campaign=19735" Target="_Top"><img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=1492998"></a>
          <br><br/>
        </div>
      </div> 
    </div>
  </div>
</section>  